{
   "overrides": [
      {
         "files": "*.test.js",
         "options": {
            "semi": false
         }
      }
   ],
   "singleQuote": true,
   "jsxSingleQuote": true,
   "semi": false,
   "printWidth": 80,
   "tabWidth": 3
}
